body {
    background: #fefefe;
}
h2 {
    color: #1460AA;
}
article {
    color: gray;
}
h3 {
    color: rgb(81, 187, 134);
}

#HTML {
    color : black;
}

.times-italic {
    color : rgb(74, 143, 74);
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

.sans-under {
    font-style: oblique;
    font-family: sans-serif;
    text-decoration: underline;
}

.left-notes {
    width : 500px;
    display: inline-block;
}

.right-picture {
    width : 200px;
    height: 200px;
    display: inline-block;
    resize: both;
    /*box-sizing: border-box; */
}

.link {
    font-size: larger;
    width: 45px;
    padding: 3px 2px;
    border: 4px brown;
    border-radius: 4px;
    margin: 2px 4px ;
    background: lightgrey;
}