body {
  background: #fefefe;
}
h2 {
  color: #1460aa;
}
article {
  color: gray;
}

#HTML {
  color: black;
}

.times-italic {
  color: rgb(74, 143, 74);
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
}

.sans-under {
  font-style: oblique;
  font-family: sans-serif;
  text-decoration: underline;
}

.left-notes {
  width: 300px;
  display: inline-block;
  z-index: 10;
}

.right-picture {
  width: 200px;
  display: inline-block;
  /* resize: both; */
  position: sticky;
  top: 10px;
  /*box-sizing: border-box; */
  z-index: 20;
}

.right-picture__img {
  max-width: 50%;
  height: auto;
}

.right-notes {
  width: 500px;
  display: inline-block;
  z-index: 10;
}

.left-picture {
  max-width: 50%;
  height: auto;
  display: inline-block;
  /* resize: both; */
  position: sticky;
  /*box-sizing: border-box; */
  z-index: 20;
}

.left-picture__img {
    max-width: 50%;
    height: auto;
}

.link {
  font-size: larger;
  width: 45px;
  padding: 3px 2px;
  border: 4px brown;
  border-radius: 4px;
  margin: 2px 4px;
  background: lightgrey;
}

.outer-box {
  background: yellowgreen;
  overflow: auto;
  width: 400px;
  height: 200px;
  padding: 16px;
  margin: 10px 0;
  box-sizing: border-box;
  position: relative;
  z-index: 30;
  overflow: hidden; /* zamiast clear: left, right, both na synkach */
}

.inner-box {
  background: white;
  /*position: absolute;
    */
  /*
    position: sticky; bez overflow na rodzicu
    */
  width: 50px;
  height: 50px;
  position: absolute;
  top: 10px;
  right: 50px;
  z-index: 20;
}

.inner-box-second {
  background: black;
  font: white;
  /* position : fixed */
  width: 50px;
  height: 50px;
  position: sticky;
  top: 15px;
  right: 50px;
  z-index: 10;
  float: left;
}
